@import 'styles/variables.css';

:root {
  --border-radius: 4px;
}

.button {
  border: none;
  position: relative;
  display: inline-block;
  /* width: 60vh; */
  /* height: 100%; */
  padding: 10px 20px;
  background: var(--color-primary-bg);
  color: var(--color-primary);
  border-radius: calc(var(--border-radius)*3)/calc(var(--border-radius)*2);
  font-size: var(--font-size);
  font-weight: bold;
  cursor: pointer;
  transition: var(--transition-ease);
}

.button:after {
  content: '';
  display: block;
  position: absolute;
  top: 5%;
  left: calc(var(--border-radius)*-0.5);
  width: calc(100% + var(--border-radius));
  height: 90%;
  z-index: -1;
  background: var(--color-primary-bg);
  border-radius: calc(var(--border-radius)*2)/calc(var(--border-radius)*3);
}

.button:hover {
  transform: translate3d(0, -3px, 0);
  box-shadow: rgba(0, 0, 0, 0.2) 0 8px 25px -10px;
}

.button:active {
  transform: translate3d(0, 1px, 0);
  box-shadow: none;
}