@import 'styles/global.css';

.button {
  --radius: 30px;
  --radius-1: calc(var(--radius)/2);
  --radius-2: calc(var(--radius)/5);
  border-radius: var(--radius-1)/var(--radius-2);
  border: none;
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  background: var(--color-primary-bg);
  color: var(--color-primary);
  font-size: var(--font-size);
  font-weight: bold;
  cursor: pointer;
  transition: var(--transition-ease);
  transform: translate3d(0, 0, 0);
}

.button:after {
  top: calc(var(--radius-2)/2);
  left: calc(var(--radius-2)/-2);
  width: calc(100% + var(--radius-2));
  height: calc(100% - var(--radius-2));
  border-radius: var(--radius-2)/var(--radius-1);
  content: '';
  display: block;
  position: absolute;
  z-index: -1;
  background: var(--color-primary-bg);
}

.button:hover {
  transform: translate3d(0, -2px, 0);
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 25px -10px;
}

.button:active {
  transform: translate3d(0, 1px, 0);
  box-shadow: none;
}

.primary {
  background: var(--color-primary);
  color: var(--color-primary-bg);
}

.primary:after {
  background: var(--color-primary);
}