.text {
  margin: 0;
  margin-block-end: var(--spacing);
  font-size: var(--font-size);
  line-height: var(--line-height);
}

.small {
  font-size: var(--font-size-small);
}

.large {
  font-size: var(--font-size-large);
}

.bold {
  font-weight: bold;
}