:root {
  --color-primary: #713dd7;
  --color-primary-bg: #f0e9ff;
  --color-primary-bg-light: #fbf7fd;
  --color-secondary: #8581bd;
  --font-family: 'Figtree', sans-serif;
  --font-size: 16px;
  --font-size-small: 13px;
  --font-size-large: 20px;
  --transition-ease: all 0.2s cubic-bezier(0.19, 0.85, 0.73, 0.99);
  --spacing: 10px;
  --spacing-small: 5px;
}