.title {
  margin: 0;
  margin-block-end: var(--spacing);
  margin-block-start: var(--spacing-large);
  font-size: var(--font-title-size);
  font-weight: bold;
}

.small {
  font-size: var(--font-title-size-small);
}

.large {
  font-size: var(--font-title-size-large);
  margin-block-start: var(--spacing);
}

.bold {
  font-weight: bold;
}

.capitalize {
  text-transform: capitalize;
}

.uppercase {
  text-transform: uppercase;
}