.pad {
  display: block;
  padding: 10px;
  background: var(--color-primary-bg-light);
  cursor: pointer;
  transition: var(--transition-ease);
  width: 100%;
  transform: translate3d(0, 0, 0);
  margin-bottom: var(--spacing-small);
}

.pad:after {
  background: var(--color-primary-bg-light);
  transition: var(--transition-ease);
}

.pad:hover, .pad:hover:after {
  background: var(--color-primary-bg);
}